* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Gelasio', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    font-size: 10px;
    font-weight: 400;
    font-size: normal;
    color: #081F32;
    background-color: #fff;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

/* HEADER */

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo-link {
    text-decoration: none;
}

.nav-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-title > li {
    padding: 15px;
    list-style-type: none; 
}

.main-nav-home {
    font-family: Gelasio;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 150%;
    /* identical to box height, or 24px */
    color: #1B75BB;
    text-decoration: none;
}

.main-nav {
    text-decoration: none;    
    font-family: Gelasio;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 150%;
    /* identical to box height, or 24px */
    color: #081F32;
    opacity: 0.7;
}

p .book {
    list-style: none;
    text-decoration: none;
    border-radius: 5px;
    background-color:#1B75BB;
    padding: 15px;
    font-family: Gelasio;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 150%;
    /* identical to box height, or 24px */
    color: #FFFFFF;
    
}

.book:hover {
    color: red;    
}

@media screen and (max-width: 767px) {
    .header-row {
        display: block;
        
    }
    
}



/* first sextion */
.main-section {
     background-image: url("../imgs/mainbg.jpg");
     min-height: 690px;
     padding: 220px 0 20px;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     display: block;
     margin: auto;
}

.serenity {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 150%;
    /* identical to box height, or 30px */
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #1B75BB;
    opacity: 0.8;
    padding-bottom: 50px;
}

.home {
    font-family: Gelasio;
    font-style: normal;
    font-weight: 600px;
    font-size: 5.7rem;
    line-height: 120%;
    color: #1B75BB;
}

.main-block {
    max-width: 456px;
    max-height: 456px;
}

.main-section-title {
    font-size: 5.7rem;
    max-width: 450px;
    padding-bottom: 50px;
    font-family: Gelasio;
    font-style: normal;
    line-height: 120%;
    /* or 68px */
    color: #081F32;
}

.main-section-text {
    font-size: 1.8rem;
    max-width: 340px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 160%;
    color: #081F32;
    opacity: 0.6;
    padding-bottom: 50px;
}


.read {
    list-style-type: none;
    text-decoration: none;
    border-radius: 5px;
    background-color: #1B75BB;
    padding: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 160%;
    /* identical to box height, or 26px */
    color: #FFFFFF;
    margin-bottom: 100px;
}

.read:hover {
    box-shadow: inset 0 0 0 5px red;
}

@media screen and (max-width: 768px) {
    .main-section-title {
        font-size: 4.7rem;
    }
}

@media screen and (max-width: 425px) {
    .main-section-title {
        font-size: 2.7rem;
    }

}


/* find */
.find {
    padding-bottom: 100px;
}

.additional {
    position: relative;
    top: -20px;
    left: 0px;
    background: linear-gradient(45deg, #fff, #c0c0c0);
    border-radius: 10px;
    max-width: 687px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-find {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
}

.find-border {
    padding: 30px;
    list-style-type: none;
}

.cheeks {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 160%;
    /* identical to box height, or 26px */
    color: #081F32;
    padding-bottom: 5px;
}

.explain {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 160%;
    /* identical to box height, or 26px */
    color: #081F32;
    opacity: 0.8;
}

.findroom {
    list-style-type: none;
    text-decoration: none;
    border-radius: 5px;
    background-color: #1B75BB;
    padding: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 160%;
    /* identical to box height, or 26px */
    color: #FFFFFF;
    margin-bottom: 100px;
    margin-right: 20px;
}

@media screen and (max-width: 768px) {
    .additional {
        display: block;
    }
    
}


@media screen and (max-width: 767px) {
    .nav-find {
        display: block;
    }
}
/* HOLIDAYS */
.holidays {
    display: flex;
    padding: 30px;
    margin-bottom: 70px;
}

.holidaya-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.holidays-images {
    position: relative;
}


.holidays-image-main {
    position: relative;
    z-index: 1;
    max-width: 63vw;
    display: block;
    margin: auto;
}

.holidays-image-second {
    position: absolute;
    top: -50px;
    right: -45px;
    max-width: 63vw;
    display: block;
    margin: auto;
}


.holidays-image-square {
    position: absolute;
    left: -50px;
    bottom: -50px;
    max-width: 23vw;
    display: block;
    margin: auto;
}


.holidays-contant {
    max-width: 100%;
    padding: 37px 100px;
}

.dream {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 150%;
    /* identical to box height, or 30px */
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #1B75BB;
    opacity: 0.8;
    padding-bottom: 20px;
}

.holidays-title {
    font-family: Gelasio;
    font-style: normal;
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 140%;
    /* or 45px */
    color: #081F32;
    padding-bottom: 30px;
}

.view {
    list-style-type: none;
    text-decoration: none;
    border-radius: 5px;
    background-color: #1B75BB;
    padding: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 160%;
    /* identical to box height, or 26px */
    color: #FFFFFF;
    margin-bottom: 100px;
}


.view:hover {
    border-radius: 70%;
}


@media screen and (max-width: 1024px) {
    .holidaya-row {
        display: block;
    }

    .holidays-image-second {
        right: 50px;
    }
        
}



/* WHY */

.why{
    padding-bottom: 70px;
}

.container-why {
    max-width: 849px;
    margin: 0 auto;
    padding: 0 15px;
}

.choose {
    font-family: Gelasio;
    font-style: normal;
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 140%;
    /* identical to box height, or 45px */
    color: #081F32;
    text-align: center;
    padding-bottom: 20px;
}


.choose-description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 160%;
    /* or 29px */
    text-align: center;
    color: #081F32;
    opacity: 0.6;
    display: block;
    margin: auto;
}

/* strength */

.strength-nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.strength-nav-main >li {
    list-style-type: none;
    border: 1px solid #C0C0C0;
    box-sizing: border-box;
    box-shadow: 0px 4px 30px rgba(199, 199, 199, 0.25);
    border-radius: 5px;
}

.strenght-img {
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

h3 {
    margin-bottom: 15px;
    font-family: Gelasio;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    /* identical to box height, or 36px */
    text-align: center;
    color: #081F32;
    
}

h3 + p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    /* or 29px */
    text-align: center;
    color: #081F32;
    opacity: 0.6;
    
}


@media screen and (max-width: 1023px) {

    .strength-nav > ul {
        display: block;
    }
        
}

/* BOOK */

.book {
    margin-top: 50px;
    margin-bottom: 50px;
}

.book-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book-nav > div {
    margin: 0 10px 0 0;
}

.lux {
    position: relative;
}

.imgrooms {
    max-width: 100%;
}

.booklux {
    position: absolute;
    bottom: 0px;
    padding: 20px;
    background: rgba(226, 226, 226, 0.4);
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 10px;
}

.onechoise {
    font-family: Gelasio;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    /* identical to box height, or 29px */
    color: #081F32;
    margin-bottom: 20px;
}

.room {
    margin-left: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    /* or 22px */
    color: #081F32;
    opacity: 0.8;
}

.bookview {
    margin-bottom: 30px;
}

.booktap {
    width: 105px;
    height: 41px;
    left: 843px;
    top: 2272px;
    background: #1B75BB;
    border-radius: 5px;
    padding: 15px;
    list-style-type: none;
    text-decoration: none;
    font-family: Roboto;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 160%;
    color: #FFFFFF;
    
}

 

@media screen and (max-width: 1023px) {
    .book-nav {
        display: block;
    }

    .view {
        margin-bottom: 15px;
    }
}


/* OPINION */
.say {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 50px;
}
.what {
    font-family: Gelasio;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 140%;
    /* identical to box height, or 45px */
    color: #081F32;
    
}

.all {
    
    width: 133px;
    height: 62px;
    left: 1237px;
    top: 3210px;
    background: #1B75BB;
    border-radius: 5px;
    list-style-type: none;
    text-decoration: none;
    color: #FFFFFF;
    padding: 15px;  
    font-family: Roboto; 
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    
}

.client {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.client > li {
    list-style-type: none;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    box-shadow: 0px 4px 30px rgba(199, 199, 199, 0.25);
    border-radius: 10px;
       
}

.img-clients {
    display: block;
    margin: auto;
}

.add-clients {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    /* or 29px */
    text-align: center;
    color: hsl(207, 72%, 11%);
    opacity: 0.6;
    margin-bottom: 10px;
}   

.name-clients {
    font-family: Gelasio;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */
    text-align: center;
    color: #081F32;
    opacity: 0.9;
}

.address-client {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    /* or 22px */
    text-align: center;
    color: #081F32;
    opacity: 0.7;
}


@media screen and (max-width: 1023px) {

    .say {
        display: block;
    }

    .what {
        margin-bottom: 15px;
    }
     
    .client {
        display: block;
    }
}












