* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Gelasio', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    font-size: 10px;
    font-weight: 400;
    font-size: normal;
    color: #081F32;
    background-color: #fff;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

/* HEADER */

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo-link {
    text-decoration: none;
}

.nav-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-title > li {
    padding: 15px;
    list-style-type: none; 
}

.main-nav-home {
    font-family: Gelasio;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 150%;
    /* identical to box height, or 24px */
    color: #1B75BB;
    text-decoration: none;
}

.main-nav {
    text-decoration: none;    
    font-family: Gelasio;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 150%;
    /* identical to box height, or 24px */
    color: #081F32;
    opacity: 0.7;
}

p .book {
    list-style: none;
    text-decoration: none;
    border-radius: 5px;
    background-color:#1B75BB;
    padding: 15px;
    font-family: Gelasio;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 150%;
    /* identical to box height, or 24px */
    color: #FFFFFF;
    
}

.book:hover {
    color: red;    
}

@media screen and (max-width: 767px) {
    .header-row {
        display: block;
        margin: 0 0 30rem;
    }
    .book {
        margin: 0 0 20rem;
    }
}


/* first sextion */
.main-section {
     background-image: url("../imgs/mainbg.jpg");
     min-height: 690px;
     padding: 220px 0 20px;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
}

.serenity {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 150%;
    /* identical to box height, or 30px */
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #1B75BB;
    opacity: 0.8;
    padding-bottom: 50px;
}

.home {
    font-family: Gelasio;
    font-style: normal;
    font-weight: 600px;
    font-size: 5.7rem;
    line-height: 120%;
    color: #1B75BB;
}

.main-block {
    max-width: 456px;
    max-height: 456px;
}

.main-section-title {
    font-size: 5.7rem;
    max-width: 450px;
    padding-bottom: 50px;
    font-family: Gelasio;
    font-style: normal;
    line-height: 120%;
    /* or 68px */
    color: #081F32;
}

.main-section-text {
    font-size: 1.8rem;
    max-width: 340px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 160%;
    color: #081F32;
    opacity: 0.6;
    padding-bottom: 50px;
}


.read {
    list-style-type: none;
    text-decoration: none;
    border-radius: 5px;
    background-color: #1B75BB;
    padding: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 160%;
    /* identical to box height, or 26px */
    color: #FFFFFF;
    margin-bottom: 100px;
}

.read:hover {
    box-shadow: inset 0 0 0 5px red;
}

@media screen and (max-width: 768px) {
    .main-section-title {
        font-size: 4.7rem;
    }
}

@media screen and (max-width: 425px) {
    .main-section-title {
        font-size: 2.7rem;
    }

}


/* find */
.find {
    padding-bottom: 100px;
}

.additional {
    position: relative;
    top: -20px;
    left: 0px;
    background: linear-gradient(45deg, #fff, #c0c0c0);
    border-radius: 10px;
    max-width: 687px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-find {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
}

.find-border {
    padding: 30px;
    list-style-type: none;
}

.cheeks {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 160%;
    /* identical to box height, or 26px */
    color: #081F32;
    padding-bottom: 5px;
}

.explain {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 160%;
    /* identical to box height, or 26px */
    color: #081F32;
    opacity: 0.8;
}

.findroom {
    list-style-type: none;
    text-decoration: none;
    border-radius: 5px;
    background-color: #1B75BB;
    padding: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 160%;
    /* identical to box height, or 26px */
    color: #FFFFFF;
    margin-bottom: 100px;
    margin-right: 20px;
}

@media screen and (max-width: 768px) {
    .additional {
        display: block;
    }
}
/* holidays */
.holidays {
    display: flex;
    padding: 30px;
    margin-bottom: 70px;
}

.holidaya-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.holidays-images {
    position: relative;
}


.holidays-image-main {
    position: relative;
    z-index: 1;
    max-width: 63vw;
}

.holidays-image-second {
    position: absolute;
    top: -50px;
    right: -45px;
    max-width: 63vw;
}


.holidays-image-square {
    position: absolute;
    left: -50px;
    bottom: -50px;
    max-width: 23vw;
}


.holidays-contant {
    max-width: 100%;
    padding: 37px 100px;
}

.dream {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 150%;
    /* identical to box height, or 30px */
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #1B75BB;
    opacity: 0.8;
    padding-bottom: 20px;
}

.holidays-title {
    font-family: Gelasio;
    font-style: normal;
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 140%;
    /* or 45px */
    color: #081F32;
    padding-bottom: 30px;
}

.view {
    list-style-type: none;
    text-decoration: none;
    border-radius: 5px;
    background-color: #1B75BB;
    padding: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 160%;
    /* identical to box height, or 26px */
    color: #FFFFFF;
    margin-bottom: 100px;
}


.view:hover {
    border-radius: 70%;
}


@media screen and (max-width: 1024px) {
    .holidaya-row {
        display: block;
    }
}



/* WHY */

.why{
    padding-bottom: 70px;
}

.container-why {
    max-width: 849px;
    margin: 0 auto;
    padding: 0 15px;
}

.choose {
    font-family: Gelasio;
    font-style: normal;
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 140%;
    /* identical to box height, or 45px */
    color: #081F32;
    text-align: center;
    padding-bottom: 20px;
}


.choose-description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 160%;
    /* or 29px */
    text-align: center;
    color: #081F32;
    opacity: 0.6;
}


















